.card img {
    max-width: 100%;
    width: 600px;
    height: 300px;
  }
  .card {
    margin-bottom: 30px;
    padding-left: 0px;
    padding-top: -10px;
    height: 300px;

    opacity: 0.9;
  }
  .list-view {
    display: flex inline-block;
    columns: 6;
    margin-left: 200px;
    width: 100%;
  }
 
body { background-image: url('logo.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-size: cover; 
   
} 
.h3{
    text-align: center;
}
.h1{
    background-color: rgba(61, 61, 61, 0.541);
    color:white ; 
    text-align: center;
    font-weight: bold;
}
#intro {
    margin-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
    height: 200px;
}
.center{
    padding-left: 30%;
    width: 1000px;
}
.card-deck{
    width: 500px;
}
.show{
    width: 400px;}


.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
.box{
    width: 1000px;
    padding-left: 350px;
}
.list{
    margin-top: 30px;
}